FLASK_DEBUG=true
DATABASE_NAME=hackathon_db
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
AUTO_CREATE_TABLES=true
AUTO_LOAD_SEED_DATA=false
RESET_DATABASE_ON_STARTUP=false
